@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
.nav{
    display: flex;
    //justify-content: space-around;
    background: #93939335;

}
.nav__logo{
    padding: 10px 20px;
    font-family: 'Comfortaa';
    font-weight: 700;
    color: #1E2A32;
}

.nav__title{
    padding: 10px 20px;
    font-family: 'Comfortaa';
    font-weight: 700;
    color: #1E2A32;
    margin-left: auto;
}

.nav__wars{
    color:  rgb(37, 85, 190);
}